@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,500&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container .box{
    font-size: 20px;
    margin-top: -200px;
    text-align: center;
    padding: 30px;
    color:rgb(195 182 182);

}
.box .time{
    font-size: 60px;
    font-weight: 900;
    color:rgb(195 182 182);
}

 .container .pop{
    position: fixed;
     background: black;
    width: 100%;
    height: 100%;
    box-shadow: 0  25px  50px rgba(0,0,0,0.1),
    0 0 0 1000px rgb(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 25px;
    visibility: hidden;
}
.pop p{
    color: rgb(49, 48, 48);
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: 30px;
}
.pop span{
color:#fff;
font-size:32px
}
.pop img{
    border-radius:20px ;
}
.pop.active{
    visibility: visible;
}
#my-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
   
}
#my-canvas.active{
    visibility:visible;
}
